<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Answers</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class = "container"  ng-app = "module" ng-controller = "controller">
    <div class = "table-responsive" ng-hide = "checkinganswers">
        <table class="table table-hover table-sm table-fixed">
            <thead class = "header">
                <tr>
                    <th scope = "col" ng-click = "sortBy('team_id')">Team</th>
                    <th scope = "col" ng-click = "sortBy('question_id')">Vraag</th>
                    <th scope = "col" ng-click = "sortBy('question_id')">Correct Antwoord</th>
                    <th scope = "col" ng-click = "sortBy('answer_given')" >Gegeven Antwoord</th>
                    <th scope = "col" ng-click = "sortBy('correct')">Correct</th>
                    <th scope = "col" ng-click = "sortBy('answer_image')">Afbeelding</th>
                    <th scope = "col" ng-click = "sortBy('person_id')">Laatst nagekeken door</th>
                    <th scope = "col" ng-click = "sortBy('confidence')">Zekerheid systeem</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subanswergiven in subanswers | orderBy:propertyName:reverse">
                    <td>//subanswergiven.answered_by.teamname//</td>
                    <td>//subanswergiven.corr_question.question//</td>
                     <td>
                        <table class = "table table-borderless">
                            <tbody>
                                <tr ng-repeat = "subanswer in subanswergiven.corr_question.subanswers">
                                    <td ng-repeat = "variant in subanswer.variants">//variant.answer//</td>
                                </tr>
                            </tbody>
                        </table>
                     </td>
                     <td>//subanswergiven.answer_given//</td>
                     {% if session['logged_in'] == True %}
                     <td><label class="switch"><input type="checkbox" ng-model="subanswergiven.correct" ng-change="updateAnswerCheck(subanswergiven)"><span class="slider round"></span></label></td>
                     {% else %}
                     <td><label class="switch"><input type="checkbox" ng-model="subanswergiven.correct" ng-disabled="true"><span class="slider round"></span></label></td>
                     {% endif %}
                     <td>
                        <!-- <img width=200% src="lines/load/line_//subanswergiven.line.id//">-->
                     </td>
                     <td>//subanswergiven.checkedby.personname//</td>
                     <td>//subanswergiven.confidence//%</td>
                </tr>
            </tbody>
        </table>
        {% if session['logged_in'] == True %}
        <button class="btn btn-primary" ng-click = "deleteAllAnswers()">Reset</button>
        <button class="btn btn-primary" ng-click = "checkAllAnswers()">Check answers</button>
        {% endif %}
    </div>
    <div class="col-sm-3 col-sm-offset-4"  ng-show="checkinganswers">Moment geduld aub.. Antwoorden worden nagekeken ...</div>
</div>

{%endblock%}
</body>
</html>