<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Answers</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}


<div class="answertable" ng-app="answerCheckingModule" ng-controller ="answerCheckingController as vm">
     <div class="alert alert-info" role="alert" ng-show="{{message}}">
        {{message}}
    </div>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" ng-click="vm.closeModal()" >&times;</span>
            <div>
                <label class="filter-label">Team:</label>
                <select class="filter-dropdown" ng-model="vm.filteredTeam">
                    <option ng-value="">Alle teams</option>
                    <option ng-repeat="team in vm.teams" ng-value="team">//team.teamname//</option>
                </select>
            </div>
            <div>
                <label class="filter-label">Categorie:</label>
                <select class="filter-dropdown" ng-model="vm.filteredCategory">
                    <option ng-value="">Alle Categorieen</option>
                    <option ng-repeat="category in vm.categories" ng-value="category">//category.name//</option>
                </select>
            </div>
            <div>
                <label class="filter-label">Vraag:</label>
                <select class="filter-dropdown" ng-model="vm.filteredQuestion">
                    <option ng-value="">Alle vragen</option>
                    <option ng-repeat="question in vm.questions" ng-value="question">//question.questionnumber// //question.question//</option>
                </select>
            </div>
            <div>
                <label class="filter-label">Laatst nagekeken door:</label>
                <select class="filter-dropdown" ng-model = "vm.filteredCheckedby">
                    <option ng-value="">Iedereen</option>
                    <option ng-repeat="person in vm.persons" ng-value="person">//person.personname//</option>
                </select>
            </div>
            <div>
                <label class="filter-label">Zekerheid:</label>
                <span class="valuePadding input-holder"><input placeholder="Van" type="number"  ng-model="vm.confidenceFrom" style="text-align:left;"></span>
                <span class="valuePadding input-holder"><input placeholder="Tot" type="number"  ng-model="vm.confidenceTo" style="text-align:left;"></span>
            </div>
            <div>
                <button class="btn btn-primary" ng-click="vm.closeModal(); vm.updateAnswers()">Opslaan</button>
            </div>
        </div>
    </div>
    <button class = 'btn btn-primary' id="myBtn" ng-click="vm.showModal()">Filter</button>
    <div class = "vm.checkinganswers" ng-hide="vm.checkinganswers">
        <table class="table table-hover table-sm table-fixed">
            <thead class="header">
                <tr>
                    <th scope="col" ng-click="vm.sortBy('answered_by.teamname')" style="width:15%;">Team</th>
                    <th scope="col" ng-click="vm.sortBy('question.questionnumber')" style="width:25%;">Vraag</th>
                    <th scope="col" style="width:15%;">Correct Antwoord</th>
                    <th scope="col" style="width:15%;">Gegeven Antwoord</th>
                    <th scope="col" style="width:500px;">Afbeelding</th>
                    <th scope="col" style="width:5%;">Correct</th>
                    <th scope="col" style="width:7%;">Zekerheid systeem</th>
                    <th scope="col" style="width:165px;" ng-click = "vm.sortBy('checkedby.personname')">Laatst nagekeken door</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="answergiven in vm.filteredanswers = (vm.answers | orderBy:vm.propertyName:vm.reverse | startFrom:vm.currentPage*vm.pageSize | limitTo:vm.pageSize)">
                    <td style="width:15%;">//answergiven.answered_by.teamname//</td>
                    <td style="width:25%;"><b>//answergiven.question.questionnumber//</b> //answergiven.question.question//</td>
                    <td style="width:15%;">
                        <div id = 'subanswerintable'>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr ng-repeat="subanswer in answergiven.question.subanswers">
                                        <td ng-repeat="variant in subanswer.variants">//variant.answer//</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="width:15%;">
                         <table class="table table-borderless">
                            <tbody>
                                <tr ng-repeat="subanswergiven in answergiven.subanswersgiven">
                                    <td>//subanswergiven.read_answer//</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="width:500px;">
                       <table class="table table-borderless">
                            <tbody>
                                <tr ng-repeat="subanswergiven in answergiven.subanswersgiven">
                                    <td>
                                        <img width="100%" src="lines/load/line_//subanswergiven.line.id//">
                                    </td>
                                </tr>
                            </tbody>
                       </table>
                    </td>
                    <td style="width:5%;">
                        <table class="table table-borderless">
                                <tbody>
                                    <tr ng-repeat="subanswergiven in answergiven.subanswersgiven">
                                        <td>
                                            <label class="switch"><input type="checkbox" ng-model="subanswergiven.correct" ng-change="vm.updateAnswerCheck(subanswergiven)"><span class="slider round"></span></label>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                    </td>
                    <td style="width:7%;">
                        <table class="table table-borderless">
                            <tbody>
                                <tr ng-repeat="subanswergiven in answergiven.subanswersgiven">
                                    <td>
                                        <td>//subanswergiven.confidence//%</td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="width:155px;">
                        <table class="table table-borderless">
                            <tbody>
                                <tr ng-repeat="subanswergiven in answergiven.subanswersgiven">
                                    <td>
                                        <td>//subanswergiven.checkedby.personname//</td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>

        </table>

        <div class="container">
            <button class="btn btn-primary" ng-click="vm.currentPage=vm.currentPage-1">
                Vorige
            </button>
                //currentPage+1// / //vm.numberOfPages()//
            <button class="btn btn-primary" ng-click="vm.currentPage=vm.currentPage+1">
                Volgende
            </button>
        </div>

        <div>
            {% if session['logged_in'] == True %}
            <button class="btn btn-primary" ng-click = "vm.deleteAllAnswers()">Verwijder alle antwoorden</button>
            <button class="btn btn-primary" ng-click = "vm.checkAllAnswers()">Kijk antwoorden na</button>
            {% endif %}
        </div>
    </div>
    <div class="alert alert-info" role="alert"  ng-show="vm.checkinganswers">Moment geduld aub.. Antwoorden worden nagekeken ...</div>
</div>
{%endblock%}
</body>
</html>
