<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Answers</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div  ng-app="module" ng-controller ="controller">
    <div class="filter-container">
        <div>
            <label>Team:</label>
            <select class="filter-dropdown" data-ng-model="searchfilter.answered_by.teamname">
                <option ng-value="">Alle teams</option>
                <option ng-repeat="team in teams">//team.teamname//</option>
            </select>
        </div>
        <div>
            <label>Vraag:</label>
            <select class="filter-dropdown" data-ng-model = "searchfilter.corr_question.question">
                <option ng-value="">Alle vragen</option>
                <option ng-repeat="question in questions" ng-value="question.question">//question.questionnumber// //question.question//</option>
            </select>
        </div>
        <div>
            <label>Correct:</label>
            <select class="filter-dropdown" data-ng-model="searchfilter.correct">
                <option ng-value="">Alles</option>
                <option ng-value=true>Ja</option>
                <option ng-value=false>Nee</option>
            </select>
        </div>
        <div>
            <label>Laatst nagekeken door:</label>
            <select class="filter-dropdown" ng-model = "searchfilter.checkedby.personname">
                <option ng-value="">Iedereen</option>
                <option ng-repeat="person in persons">//person.personname//</option>
            </select>
        </div>
        <div>
            <label>Zekerheid:</label>
            <span class="valuePadding input-holder"><input placeholder="Van" type="number" min="0" max="100" value="5" ng-model="confidencefrom" style="text-align:left;"></span>
            <span class="valuePadding input-holder"><input placeholder="Tot" type="number" min="0" max="100" value="5" ng-model="confidenceto" style="text-align:left;"></span>
        </div>

    </div>

    <div class="table-responsive" ng-hide="checkinganswers">
        <table class="table table-hover table-sm table-fixed">
            <thead class="header">
                <tr>
                    <th scope="col" ng-click="sortBy('answered_by.teamname')">Team</th>
                    <th scope="col" ng-click="sortBy('corr_question.questionnumber')">Vraag</th>
                    <th scope="col">Correct Antwoord</th>
                    <th scope="col" ng-click="sortBy('answer_given')">Gegeven Antwoord</th>
                    <th scope="col"> Afbeelding</th>
                    <th scope="col" ng-click="sortBy('correct')">Correct</th>
                    <th scope="col" ng-click = "sortBy('checkedby.personname')">Laatst nagekeken door</th>
                    <th scope="col" ng-click = "sortBy('confidence')">Zekerheid systeem</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subanswergiven in subanswers | orderBy:propertyName:reverse | filter: searchfilter  | byConfidence:confidencefrom:confidenceto | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td>//subanswergiven.answered_by.teamname//</td>
                    <td><h3>//subanswergiven.corr_question.questionnumber//</h3> //subanswergiven.corr_question.question//</td>
                    <td>
                        <table class="table table-borderless">
                            <tbody>
                                <tr ng-repeat="subanswer in subanswergiven.corr_question.subanswers">
                                    <td ng-repeat="variant in subanswer.variants">//variant.answer//</td>
                                </tr>
                            </tbody>
                        </table>
                     </td>
                     <td>//subanswergiven.answer_given//</td>
                    <td>
                         <img class="answerimage" width="100%" src="lines/load/line_//subanswergiven.line.id//">
                     </td>
                     {% if session['logged_in'] == True %}
                     <td><label class="switch"><input type="checkbox" ng-model="subanswergiven.correct" ng-change="updateAnswerCheck(subanswergiven)"><span class="slider round"></span></label></td>
                     {% else %}
                     <td><label class="switch"><input type="checkbox" ng-model="subanswergiven.correct" ng-disabled="true"><span class="slider round"></span></label></td>
                     {% endif %}
                     <td>//subanswergiven.checkedby.personname//</td>
                     <td>//subanswergiven.confidence//%</td>
                </tr>
            </tbody>
        </table>
        <div class = 'wrapperhorizontal'>
             <button class = 'btn btn-primary' ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Vorige
            </button>
            <label>//currentPage+1// / //numberOfPages()//</label>
            <button class = 'btn btn-primary' ng-disabled="currentPage >= subanswers.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Volgende
            </button>
        </div>
        <div>
            {% if session['logged_in'] == True %}
            <button class="btn btn-primary" ng-click = "deleteAllAnswers()">Verwijder alle antwoorden</button>
            <button class="btn btn-primary" ng-click = "checkAllAnswers()">Kijk antwoorden na</button>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-3 col-sm-offset-4"  ng-show="checkinganswers">Moment geduld aub.. Antwoorden worden nagekeken ...</div>
</div>
{%endblock%}
</body>
</html>
