<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordina Pubquiz</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//code.angularjs.org/1.7.9/angular.min.js"></script>
   <script src="//code.angularjs.org/1.7.9/angular-route.js"></script>
    <script src="{{ url_for('static', filename='angularscript.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
{% extends 'bootstrap/base.html' %}
{% block navbar %}
<nav class = "navbar navbar-default">
    <a href = "/index">Home</a>
    <a href = "/uploadsheets">Upload antwoordvellen</a>
    <a href = "/questions">Quizvragen</a>
    <a href = "/answerchecking">Nakijken</a>
    <a href = "/login">Login</a>
</nav>
{% endblock %}


</body>
</html>