<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Home</title>
</head>
<script>

</script>
<body>

{% extends "base.html" %}
{% block content %}
<div class = "container"  ng-app = "module" ng-controller = "controller">
    <div class = "table-responsive">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope = "col" class="col-xs-6" ng-click = "sortBy('teamname')" >Team
                    </th>
                    <th scope = "col" ng-click = "sortBy('score')">Score
                    </th>
                     <th scope = "col" ng-click = "sortBy('score')">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in teams | orderBy:propertyName:reverse">
                    <td>//team.teamname//</td>
                    <td>//team.score//</td>
                    {% if session['logged_in'] == True %}
                    <td><button type="button" class = "btn btn-danger" ng-click="removeTeam(team)"><span class="glyphicon glyphicon-remove"></span></button></td>
                    {% endif %}
                </tr>
                  {% if session['logged_in'] == True %}
                 <tr>
                     <td><input type = "text" class = "form-control" ng-model = "newteam" ng-keyup="$event.keyCode == 13 ? addTeam() : null"></td>
                     <td></td>
                     <td><button class="btn btn-primary" ng-click = "addTeam()">Voeg toe</button></td>
                 </tr>
            {% endif %}
            </tbody>
        </table>
          {% if session['logged_in'] == True %}
        <button class="btn btn-primary" ng-click = "removeTeams()">Verwijder alle teams</button>
        {% endif %}
    </div>
</div>
{%endblock%}


</body>


</html>

