<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Questions</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class = "container"  ng-app = "module" ng-controller = "controller">
    <div class = "table-responsive">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope = "col" ng-click = "sortBy('question')" >Vraag</th>
                    <th scope = "col" ng-click = "sortBy('correct_answer')">Correct antwoord</th>
                    <th scope = "col" ng-click = "sortBy('category_id')">Categorie</th>
                    <th scope = "col" ng-click = "sortBy('user_id')">Aangemaakt door</th>
                    <th scope = "col" ng-click = "sortBy('active')">Actief</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="question in questions | orderBy:propertyName:reverse">
                    <td>//question.question//</td>
                    <td>//question.correct_answer//</td>
                    <td>//getCategoryName(question.category_id)//</td>
                    <td>//getUserName(question.user_id)//</td>
                    <td><label class="switch"><input type="checkbox" ng-checked = "//question.active//" ng-click = "updateQuestionActive(question.id, !question.active)"><span class="slider round"></span></label></td>
                </tr>
                <tr>
                    <td><input type = "text" class = "form-control" ng-model = "newquestion"></td>
                    <td><input type = "text" class = "form-control" ng-model = "newquestioncorrect_answer"></td>
                    <td>
                        <div class="dropdown">
                            <select class="form-control" ng-model="newquestioncategory">
                                <option ng-repeat = "category in categories" value="//category.id//">//category.name//</option>
                            </select>
                        </div>
                    </td>
                    <td ng-model = "newquestionuser">//getLoggedinUser().name//</td>
                    <td><label class="switch"><input type="checkbox" ng-model = "newquestionactive"><span class="slider round"></span></label></td>
                    <td><button class =  "btn btn-primary" ng-click = "addQuestion()">Voeg toe</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{%endblock%}


</body>
</html>