<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pubquiz</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='questionplayer.css') }}">
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div ng-app="module" ng-controller="pubquizcontroller">
     <div class="wrapper">
            <span class="questionnumber">//displayedquestion.questionnumber//</span>
            <span class="question">//displayedquestion.question//</span>
    </div>
</div>
{% endblock %}

</body>



</html>

