<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Onthulling</title>
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/revealwinner.css') }}">
</head>


<body>

<div class = "header">
    <img src='../static/logo.png' alt="logo" width="50px" height="30px">
</div>

{% extends "base.html" %}
{% block content %}
<div ng-app="revealModule" ng-controller="revealcontroller as vm">
    <div class="showteams">
        <ul class="col" ng-repeat="team in vm.revealteams1">
            <li>
                <span class="position">//team.position//.</span>
                <span class="teamname">//team.teamname//</span>
                <span class="score">//team.score//</span>
            </li>
        </ul>
    </div>
    <div class="showteams">
        <ul class="col" ng-repeat="team in vm.revealteams2">
            <li>
                <span class="position">//team.position//.</span>
                <span class="teamname">//team.teamname//</span>
                <span class="score">//team.score//</span>
            </li>
        </ul>
    </div>
    <div class="showteams">
        <ul class="col" ng-repeat="team in vm.revealteams3">
            <li>
                <span class="position">//team.position//.</span>
                <span class="teamname">//team.teamname//</span>
                <span class="score">//team.score//</span>
            </li>
        </ul>
    </div>
    <div class="showteams">
        <ul class="col" ng-repeat="team in vm.revealteams4">
            <li>
                <span class="position">//team.position//.</span>
                <span class="teamname">//team.teamname//</span>
                <span class="score">//team.score//</span>
            </li>
        </ul>
    </div>
</div>
{% endblock %}


</body>



</html>

