<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Onthulling</title>
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='revealwinner.css') }}">
</head>


<body>

{% extends "base.html" %}
{% block content %}
<div ng-app = "revealModule" ng-controller = "revealcontroller as vm">
    <div>
        <ul ng-repeat = "team in vm.revealteams">
            <li>
                <span class = "teamname">//team.teamname//</span>
                <span class = "score">//team.score//</span>
            </li>
    </ul>
    </div>
</div>
{% endblock %}


</body>



</html>

