<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uploaden antwoordvellen</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

{% extends "base.html" %}

{% block content %}
{{ message }}

<!-- TODO make it nicer and show which file is included and maybe forward to a better page (index again?) -->
<div class = "container"  ng-app = "uploadModule" ng-controller = "uploadController as vm">
    <form action="/uploader" method="POST" enctype="multipart/form-data" ng-submit ="vm.showloadingsheetsbar()" ng-hide = "vm.loadingsheets">
        <div class="form-group">
            <label>Selecteer bestand</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="answersheets" id="answersheets" onchange="vm.fileChanged(this.files)" required>
                <label class="custom-file-label" id = "custom-file-label" for="answersheets">Selecteer bestand</label>
            </div>
        </div>
         <button type="submit" class="btn btn-primary">Lees bestand in</button>
    </form>

<div class="alert alert-info"  ng-show="vm.loadingsheets">Moment geduld aub.. Antwoordvellen worden verwerkt....</div>
</div>
{% endblock %}
</body>
</html>