<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uploaden antwoordvellen</title>
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

{% extends "base.html" %}
{% block content %}
<!-- TODO make it nicer and show which file is included and maybe forward to a better page (index again?) -->
<div class = "container"  ng-app = "module" ng-controller = "controller">
    <form action="/uploader" method="POST" enctype="multipart/form-data" ng-submit ="showloadingsheetsbar()" ng-hide = "loadingsheets">
        <div class="form-group">
            <label>Selecteer bestand</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="answersheets" id="answersheets" required>
                <label class="custom-file-label" for="answersheets">Selecteer bestand</label>
            </div>
        </div>
         <button type="submit" class="btn btn-primary">Lees bestand in</button>
    </form>
<div class="col-sm-3 col-sm-offset-4"  ng-show="loadingsheets">Moment geduld aub.. Antwoordvellen worden verwerkt....</div>
</div>
{% endblock %}
</body>
</html>