absl-py==0.9.0
alembic==1.3.3
astor==0.8.1
Click==7.0
docx==0.2.4
dominate==2.4.0
Flask==1.1.1
Flask-AlchemyDumps==0.0.10
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.8
flask-marshmallow==0.10.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
fuzzywuzzy==0.17.0
gast==0.3.3
grpcio==1.26.0
h5py==2.10.0
itsdangerous==1.1.0
Jinja2==2.10.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lxml==4.5.0
Mako==1.1.1
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.3.0
mock==3.0.5
numpy==1.18.1
opencv-python==4.1.2.30
pdf2image==1.11.0
Pillow==7.0.0
protobuf==3.11.2
psycopg2-binary==2.8.4
PyPDF2==1.26.0
pytesseract==0.3.2
python-dateutil==2.8.1
python-docx==0.8.10
python-editor==1.0.4
six==1.14.0
SQLAlchemy==1.3.13
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
Unipath==1.1
visitor==0.1.3
Werkzeug==0.16.1
