body{
    margin: 0 !important;
    background-color: #000000 !important;
    overflow: hidden !important;
    padding-top: 50px;
}

ul{

    box-sizing: border-box !important;
    background: black;
 /*   background: rgba(255, 161, 51, 1) !important; */
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5) !important;

}

ul li{
    display: flex !important;
  /*  background:black;*/
    background: darkorange !important;
    padding: 10px 20px !important;
    color: #fff!important;
    margin: 5px 0 !important;
    transition: .5s !important;
    font-size: 16pt !important;
}


.position{
    margin-right: 5%;
}

.teamname{
    width:100%;
}


.score{
   margin-left: 1%;
   text-align:right;
}

