.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FFA133;
    color: white;
}

th {
    background-color: #F07D00;
    color: white;
    border-collapse:collapse;
    cursor: pointer;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #FFA133;
  color: white;
}

input[type=text]:hover {}