body {
    padding-top: 50px;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.answerimage:hover{
    width:500%;
}

.header {
    top: 50px;
    background-color: #F07D00;
    color: white;
    cursor: pointer;
}

.table-fixed tbody {
    display:block;
    height:600px;
    width:100%;
    overflow:auto;
}

.table-borderless tbody {
    height: auto;
    width: 100%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FFA133;
    color: white;
}


.table-responsive {
    position: relative;
    margin-top: 35px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.filter-container{
    Width: 30%;
}

.filter-dropdown{
    Width: 80%;
}

.input-holder {
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 5px;
}
.input-holder > input {
    border: 0;
    margin: 0;
    padding: 0;
    outline:none;
}
.input-holder:after {
    content: '%';
}
