<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<script>

</script>
<body>
{% extends "base.html" %}
{% block content %}
{% for word in words %}
<div>
    <img width=50% src="{{ url_for('load_word', word_id=word.id) }}">
</div>
<div>
    {{ word.word_recognised }}
</div>
{% endfor %}
{% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{%endblock%}
</body>
</html>
